<h3 style="padding: 10px;">Cadastro de Pessoa</h3>

<form style="padding: 10px;" #formValidate="ngForm" >
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" [(ngModel)]="person.id" class="form-control" readonly autocomplete="false">
        </div>
        <div class="form-group col-md-5">
            <label for="nome">Nome</label>
            <span style="color: red;" *ngIf="nomeValidate.invalid"> *</span>
            <input type="text" [(ngModel)]="person.name" #nomeValidate="ngModel" name="nome" id="nome" class="form-control" autocomplete="false" required="true">
        </div>
        <div class="form-group col-md-6">
            <label for="email">E-mail</label>
            <span style="color: red;" *ngIf="emailValidate.invalid"> *</span>
            <input type="email" [(ngModel)]="person.email" #emailValidate="ngModel" name="email" id="email" class="form-control" autocomplete="false" required="true">
        </div>
    </div>

    <div class="form-row">
<!--        <div class="form-group col-md-3">
            <label for="birth">Data de Nascimento</label>
            <span style="color: red;" *ngIf="birthValidate.invalid"> *</span>
            <div class="input-group">
                <input type="text" name="birth" id="birth" class="form-control" placeholder="dd/mm/yyyy" #birthValidate="ngModel" ngbDatepicker #birth="ngbDatepicker" [(ngModel)]="person.birth">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" (click)="birth.toggle()"></button>
                </div>
            </div>
        </div>-->
        <div class="form-group col-md-2">
            <label for="phone">Phone</label>
            <span style="color: red;" *ngIf="phoneValidate.invalid"> *</span>
            <input type="text" [(ngModel)]="person.phone" #phoneValidate="ngModel" name="phone" id="phone" class="form-control" autocomplete="false">
        </div>
        <div class="form-group col-md-2">
            <label for="location">Location</label>
            <span style="color: red;" *ngIf="locationValidate.invalid"> *</span>
            <input type="text" [(ngModel)]="person.location" #locationValidate="ngModel" name="location" id="location" class="form-control" autocomplete="false" required="true">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-primary" (click)="exit()" routerLinkActive="router-link-active" >Logoff</button>
            <button type="button" class="btn btn-warning" (click)="newPerson()" style="margin-left: 10px;" >Novo</button>
            <button type="button" class="btn btn-success" (click)="savePerson()" [disabled]="formValidate.invalid" style="margin-left: 10px;" >Salvar</button>
        </div>
    </div>
</form>
